<!DOCTYPE html>
<html>
	<head>
  		<title><%= yield(:title) %> | Ascend</title>
  		
  		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true  %>
  		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  		<%= csrf_meta_tags %>
  		<script src='https://www.google.com/recaptcha/api.js'></script>
	</head>
<body>
	<%= render 'shared/navbar' %>

	<div class="wrapper">
		<div class="main-page-content <%= controller.controller_name %>" >
			<%= yield %>
		</div>
	
		<div class="push"></div>
	</div>

	<div class="footer">
		<%= render 'shared/footer' %>
	</div>


</body>
</html>
